*{
	font-family: 'Open Sans', sans-serif;
}

body{
	margin:0 auto;
}
h2{
	text-align: center;
}

button{
	display: block;
	width: 100px;
}
input{
	width: 90px
}
.header{
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
}


